#*********************************************************************
# Copyright (c) Intel Corporation 2020
# SPDX-License-Identifier: Apache-2.0
#*********************************************************************/

# This workflow will release new versions when required using semantic-release

name: Semantic-Release CI

on:
  push:
    branches: [ main ]

jobs:
  release:
    runs-on: ubuntu-latest
    
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@a4aa98b93cab29d9b1101a6143fb8bce00e2eac4 # v2.7.1
      with:
        egress-policy: audit

    - name: Checkout
      uses: actions/checkout@0ad4b8fadaa221de15dcec353f45205ec38ea70b # v4.1.4
      with:
        persist-credentials: false
    - name: Use Node.js 20.x
      uses: actions/setup-node@60edb5dd545a775178f52524783378180af0d1f8 # v4.0.2
      with:
        node-version: "20.x"
    - run: npm ci
    - run: npm run build-ext --if-present
    - run: rsync -a package.json README.md ./dist/
    - name: Semantic Release
      uses: cycjimmy/semantic-release-action@cb425203a562475bca039ba4dbf90c7f9ac790f4 # v4.1.0
      with:
        semantic_version: 19.0.5  # It is recommended to specify specifying version range
                                    # for semantic-release.
      env:
        GITHUB_TOKEN: ${{ secrets.ROSIE_TOKEN }}
        NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
